<style>
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -150px;
  }
</style>

<section>
  <form action="/admin/update-product/{{product._id}}" method="post" enctype="multipart/form-data">
    <div class="form-group">
    <label for="exampleInputEmail1">name of product</label>
    <input type="text" name="name" class="form-control" placeholder="Enter the name of product" value="{{product.name}}">
    </div>
  <div class="form-group">
    <label for="exampleInputPassword1">catogary</label>
    <input type="text" class="form-control" name="catogary" placeholder="enter the catogary" value="{{product.catogary}}">
  </div>
   <div class="form-group">
    <label for="exampleInputPassword1">price</label>
    <input type="text" class="form-control" name="price" placeholder="enter the price" value="{{product.price}}">
  </div>
   <div class="form-group">
    <label for="exampleInputPassword1">description</label>
    <input type="text" class="form-control" name="description" placeholder="enter the description about product" value="{{product.description}}">
  </div>
  <div class="form-group">
    <label for="exampleFormControlFile1">add image</label>
    <img src="/product-images/{{product._id}}.jpg"  style="height: auto; width: 100px" id="imgchange"><br>
    <input type="file" class="form-control-file" name="Image" onchange="viewImage(event)">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</section>
<script>
  function viewImage(event)
  {
    document.getElementById('imgchange').src=URL.createObjectURL(event.target.files[0])
  }
</script>