<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Azeez store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">product</a>
          </li>

          <li class="nav-item dropdown">
            {{#if user}}
          <li><a class="dropdown-item" href="/cart">cartt<span class="badge badge-success"
                style="background-color:rgb(13, 243, 74)" id="cart-count">{{cartCount}}</span></a></li>
          {{else}}
          <li><a class="dropdown-item" href="/login">cart</a></li>
          {{/if}}
          </li>
          <li class="order">

            {{#if user}}
          <li><a class="dropdown-item" href="/orders">order</a></li>
          {{/if}}
          </li>

        </ul>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{#if user}}
            {{user.name}}
            {{else}}
            account
            {{/if}}

          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {{#if user}}
            <li><a class="dropdown-item" href="/logout">logout</a></li>
            {{else}}
            <li><a class="dropdown-item" href="/login">login</a></li>
            {{/if}}
          </ul>
        </li>
      </div>
    </div>
  </nav>
</header>